*{
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
 
.nav{
    border: 1px solid #e1f0f3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    height: 60px;
    margin-left: 150px ;
    margin-right: 150px;
    align-items: center;
    position:relative;
    left: 100px;
    background-color: #b4dbe1;
}

.Dojonary{
    position: relative;
    right: 60px;
}
input[type=text] {
    width: 300px;
    height: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #212020;
    border-radius: 3px;
}

.login{
    width: 65px;
    height: 30px;
    background-color: blue;
    color:#e1f0f3;
    box-shadow: 2px 2px 1px black;
}

/**/
.bigContainer{
    width: 1000px;
    margin-left: 250px ;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-1{
    display: flex;
    flex-direction: column;
}

.box-1{
    border: 3px solid black;
    width: 600px; ;
    height: 200px;
    display: flex;
    flex-direction: row;
    
}

.box-2{
    border: 3px solid black;
    width: 600px; ;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.container-2{
    border: 3px solid black;
    width: 350px;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.ninja{
    font-size: 35px;
    margin-left: 30px;
    margin-top: 25px;
}

.noun{
    font-style: italic;
    margin-left: 40px;
    margin-top: 8px;
}

.text{
    margin-left: 35px;
    margin-top: 8px;
}

.textmin{
    font-style: italic;
}

.like{
    width: 75px;
    height: 35px;
    background-color: #e5ed04;
    color:black;
    box-shadow: 2px 2px 1px black;
    font-style: italic;
    margin-left: 40px;
    margin-top: 8px;
}

.blue{
    color: blue;
    text-decoration: underline;
}

.col-2{
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.textRigth{
    font-size: 20px;
    font-weight: bold;
}

.textMax{
    display: flex;
    padding-top: 20px;
    font-size: 30px;
}

.toptext{
    padding-left: 20px;
}

.bottomB{
   margin: 30px;
   display: flex;
   justify-content: center;
}

.add{
    width: 90%;
    height: 45px;
    background-color:#75d96f;
    color:black;
    box-shadow: 2px 2px 1px black;
    font-size: 25px;
}