*{
    margin: 0;
    padding: 0;
}

.contenedor{
    display: flex;
    margin-top: 30px;
}

.lista_dojos, .nuevo_dojo{
    flex: 1;
    padding: 30px;
}

.dojos{
    border: 1px solid black;
    padding: 10px;
}