*{
    margin: 0;
    font-family: cursive;
}
nav{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
}
h1{
    margin-top: 10px;
}

main{
    padding: 0 20px;

}

.texttitle{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.bigbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;

}

.perfil{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 250px;
    margin-left: 30px;

}

.boxlikes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxlike-1, .boxlike-2, .boxlike-3{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 110px;    
}

.userimg{
    width: 90px;
    margin: 20px;
}
.row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    align-items: center;
    padding-top: 10px;
}

.row-1 > p{
    font-size: 17px;
    font-weight: bold;;
}

.row-2{
    padding: 10px 20px;
}

.row-2 > p{
    font-size: 17px;
}

.like{
    background-color:yellow;
    box-shadow: 2px 2px 1px black;
    width: 55px;
}

.blue{
    color: blue;
    text-decoration: underline;
}