*{
    font-family: cursive;
}
.container{
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 150px;
    margin: 100px;
}

.row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    height: 50%;
    align-items: center;
}

.row-1 > p{
    font-size: 17px;
    font-weight: bold;;
}

.row-2{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0px 15px;
}

.row-2 > p{
    font-size: 17px;
    font-weight: bold;
}

.like{
    background-color:yellow;
    box-shadow: 2px 2px 1px black;
    width: 55px;
}