.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 8px;
;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 16px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 8px;
   
}
.main {
    height: 380px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-right: 8px;
}
.sub-content {
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    padding: 6px;
    margin: 4px;
}
#advertisement {
    height: 80px;
    width: 653px;
    background-color: purple;
    margin-top: 32px;
    margin-left: 2px;
    padding: 6px;
}
.row {
    display: flex;
    flex-direction: row ;
}

