<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-center mt-3">
        <div class="bg-secondary-subtle w-25">
            <div class="card-body">
                <h2 class="card-title text-dark">Usuario {{usuario_actual.id}}</h1>
                <p class="card-text text-dark">Nombre Completo: {{usuario_actual.nombre}} {{usuario_actual.apellido}}</p>
                <p class="card-text text-dark">Email: {{usuario_actual.email}}</p>
                <p class="card-text text-dark">Creado: {{usuario_actual.tiempo_creacion.strftime("%b %d %Y")}}</p>
                <p class="card-text text-dark">Modificado: {{usuario_actual.tiempo_actualizacion.strftime("%b %d %Y")}}</p> <!--.strftime("%b %d %Y") para colocar el formato de mess y año-->
            </div>
            <a href="/usuarios" class="btn btn-warning">Home</a>
            <a href="/formulario/usuario/{{usuario_actual.id}}">Editar</a>
            <a href="/eliminar/{{usuario_actual.id}}">Eliminar</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>