
.t1 {
background-color: black;
color: white;
text-align: left;
font-family: cursive;
padding-left: 12px;

}
span {
color: aqua;
}

.t2 {
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.t3 {
    background-color: rgba(88, 146, 226, 0.588);
    color: black;
    text-align: right;
    text-decoration: underline;
    padding-right: 12px;
}